@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    width: 300px;
}

#devro {
    cursor: pointer;
    color: #b97a46;
}

#footer {
    padding-top: 10px;
    margin: 0;
}