@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #e2e1e0;
}

#content {
    width: 400px;
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#devro {
    cursor: pointer;
    color: #b97a46;
}

#footer {
    padding-top: 10px;
    margin: 0;
}